In [1]:
import pandas as pd

In [2]:
tfidf = pd.read_csv("validation_results/val_tfidf.csv",index_col=0)
tfidf

,cohesion,syntax,vocabulary,phraseology,grammar,conventions
text_id,,,,,,
13C400DD9794,3.010606,2.940870,3.127768,3.008325,2.935918,2.991636
D9BC7F4F22F0,2.527178,2.453469,2.665433,2.523314,2.412345,2.496050
3E170458E9A1,2.527198,2.453489,2.665453,2.523335,2.412365,2.496070
E0BFF1488787,2.686957,2.615238,2.815270,2.687478,2.590606,2.666865
C50BE3C76571,2.527178,2.453469,2.665433,2.523314,2.412345,2.496050
...,...,...,...,...,...,...
A4A90A401002,3.344014,3.240346,3.431924,3.338148,3.265551,3.297649
CA11FD3CAC43,3.344014,3.240346,3.431924,3.338148,3.265551,3.297649
0BB9FAE6E27B,3.344014,3.240346,3.431924,3.338148,3.265551,3.297649
ED0A8E614649,3.344014,3.240346,3.431924,3.338148,3.265551,3.297649
ACA1A45EE438,3.344014,3.240346,3.431924,3.338148,3.265551,3.297649

In [3]:
svr = pd.read_csv("validation_results/val_svr.csv",index_col=0)
svr

,cohesion,syntax,vocabulary,phraseology,grammar,conventions
text_id,,,,,,
13C400DD9794,2.853360,2.850215,2.848165,2.837042,3.005184,2.759427
D9BC7F4F22F0,2.737378,2.419024,2.698912,2.476842,2.503007,2.221925
3E170458E9A1,2.740506,2.642922,2.872641,2.793128,2.755787,2.731921
E0BFF1488787,2.786685,2.850549,2.972727,2.767457,2.806187,3.038367
C50BE3C76571,2.732530,2.602709,2.823353,2.491031,2.213038,2.485433
...,...,...,...,...,...,...
A4A90A401002,3.376377,3.209147,3.556211,3.173799,3.539506,3.412993
CA11FD3CAC43,3.719921,3.441376,3.739208,3.654375,3.216852,3.539730
0BB9FAE6E27B,3.354057,3.210798,3.567047,3.134979,3.391220,3.483420
ED0A8E614649,3.361802,3.370543,3.564252,3.569192,3.271189,3.454624
ACA1A45EE438,3.450626,3.321926,3.468081,3.269563,3.511854,3.542166

In [4]:
ngram = pd.read_csv("validation_results/val_ngram.csv",index_col=0)
ngram

,cohesion,syntax,vocabulary,phraseology,grammar,conventions
text_id,,,,,,
13C400DD9794,2.862952,2.755825,2.966659,2.824807,2.724683,2.828536
D9BC7F4F22F0,2.791754,2.685455,2.901383,2.758026,2.657459,2.769140
3E170458E9A1,2.724274,2.614684,2.832884,2.681591,2.576603,2.700672
E0BFF1488787,2.859524,2.754828,2.967978,2.827981,2.729341,2.831291
C50BE3C76571,2.636997,2.525619,2.745708,2.589729,2.485467,2.620819
...,...,...,...,...,...,...
A4A90A401002,3.451573,3.358810,3.533695,3.443129,3.380843,3.420422
CA11FD3CAC43,3.274458,3.179759,3.362860,3.260865,3.183205,3.237762
0BB9FAE6E27B,3.710618,3.613612,3.778767,3.706603,3.682332,3.697439
ED0A8E614649,3.710488,3.614340,3.778901,3.705779,3.682336,3.697980
ACA1A45EE438,3.563938,3.482696,3.640026,3.562554,3.530105,3.549380

In [5]:
roberta = pd.read_csv("validation_results/val_bert.csv",index_col=1)
roberta = roberta.iloc[: , 1:]
roberta

,cohesion,syntax,vocabulary,phraseology,grammar,conventions
text_id,,,,,,
13C400DD9794,1.800074,1.804792,2.178533,1.920928,1.800869,1.883982
D9BC7F4F22F0,2.748422,2.644605,2.971835,2.792340,2.528817,2.422574
3E170458E9A1,1.938913,1.796602,2.284502,1.923307,1.714191,2.035963
E0BFF1488787,2.479802,2.568310,2.683838,2.774912,2.789020,2.794571
C50BE3C76571,2.273604,2.116479,2.342235,2.043774,1.933587,2.087017
...,...,...,...,...,...,...
A4A90A401002,3.629048,3.534972,3.808915,3.730619,3.613037,3.660695
CA11FD3CAC43,3.804959,3.595449,3.729805,3.638323,3.525637,3.746667
0BB9FAE6E27B,3.524233,3.557455,3.792438,3.612432,3.485740,3.649140
ED0A8E614649,3.802464,3.574562,3.808553,3.664019,3.454725,3.546447
ACA1A45EE438,3.575714,3.514809,3.334503,3.560459,3.622044,3.676185

In [6]:
#df_list = [tfidf, svr, ngram, roberta]
df1 = pd.DataFrame()
df1 = pd.concat([tfidf['cohesion'],svr['cohesion'],ngram['cohesion'],roberta['cohesion']],axis=1)
df1['average'] = df1.iloc[:, 0:4].mean(axis=1)
df1

              cohesion  cohesion  cohesion  cohesion   average
text_id
13C400DD9794  3.010606  2.853360  2.862952  1.800074  2.631748
D9BC7F4F22F0  2.527178  2.737378  2.791754  2.748422  2.701183
3E170458E9A1  2.527198  2.740506  2.724274  1.938913  2.482723
E0BFF1488787  2.686957  2.786685  2.859524  2.479802  2.703242
C50BE3C76571  2.527178  2.732530  2.636997  2.273604  2.542577
...                ...       ...       ...       ...       ...
A4A90A401002  3.344014  3.376377  3.451573  3.629048  3.450253
CA11FD3CAC43  3.344014  3.719921  3.274458  3.804959  3.535838
0BB9FAE6E27B  3.344014  3.354057  3.710618  3.524233  3.483230
ED0A8E614649  3.344014  3.361802  3.710488  3.802464  3.554692
ACA1A45EE438  3.344014  3.450626  3.563938  3.575714  3.483573

[783 rows x 5 columns]

In [7]:
df2 = pd.DataFrame()
df2 = pd.concat([tfidf['syntax'],svr['syntax'],ngram['syntax'],roberta['syntax']],axis=1)
df2['average'] = df2.iloc[:, 0:4].mean(axis=1)
df2

                syntax    syntax    syntax    syntax   average
text_id
13C400DD9794  2.940870  2.850215  2.755825  1.804792  2.587926
D9BC7F4F22F0  2.453469  2.419024  2.685455  2.644605  2.550638
3E170458E9A1  2.453489  2.642922  2.614684  1.796602  2.376924
E0BFF1488787  2.615238  2.850549  2.754828  2.568310  2.697231
C50BE3C76571  2.453469  2.602709  2.525619  2.116479  2.424569
...                ...       ...       ...       ...       ...
A4A90A401002  3.240346  3.209147  3.358810  3.534972  3.335819
CA11FD3CAC43  3.240346  3.441376  3.179759  3.595449  3.364232
0BB9FAE6E27B  3.240346  3.210798  3.613612  3.557455  3.405553
ED0A8E614649  3.240346  3.370543  3.614340  3.574562  3.449948
ACA1A45EE438  3.240346  3.321926  3.482696  3.514809  3.389944

[783 rows x 5 columns]

In [8]:
df3 = pd.DataFrame()
df3 = pd.concat([tfidf['vocabulary'],svr['vocabulary'],ngram['vocabulary'],roberta['vocabulary']],axis=1)
df3['average'] = df3.iloc[:, 0:4].mean(axis=1)
df3

              vocabulary  vocabulary  vocabulary  vocabulary   average
text_id
13C400DD9794    3.127768    2.848165    2.966659    2.178533  2.780281
D9BC7F4F22F0    2.665433    2.698912    2.901383    2.971835  2.809391
3E170458E9A1    2.665453    2.872641    2.832884    2.284502  2.663870
E0BFF1488787    2.815270    2.972727    2.967978    2.683838  2.859953
C50BE3C76571    2.665433    2.823353    2.745708    2.342235  2.644182
...                  ...         ...         ...         ...       ...
A4A90A401002    3.431924    3.556211    3.533695    3.808915  3.582686
CA11FD3CAC43    3.431924    3.739208    3.362860    3.729805  3.565949
0BB9FAE6E27B    3.431924    3.567047    3.778767    3.792438  3.642544
ED0A8E614649    3.431924    3.564252    3.778901    3.808553  3.645907
ACA1A45EE438    3.431924    3.468081    3.640026    3.334503  3.468634

[783 rows x 5 columns]

In [9]:
df4 = pd.DataFrame()
df4 = pd.concat([tfidf['phraseology'],svr['phraseology'],ngram['phraseology'],roberta['phraseology']],axis=1)
df4['average'] = df4.iloc[:, 0:4].mean(axis=1)
df4

              phraseology  phraseology  phraseology  phraseology   average
text_id
13C400DD9794     3.008325     2.837042     2.824807     1.920928  2.647776
D9BC7F4F22F0     2.523314     2.476842     2.758026     2.792340  2.637630
3E170458E9A1     2.523335     2.793128     2.681591     1.923307  2.480340
E0BFF1488787     2.687478     2.767457     2.827981     2.774912  2.764457
C50BE3C76571     2.523314     2.491031     2.589729     2.043774  2.411962
...                   ...          ...          ...          ...       ...
A4A90A401002     3.338148     3.173799     3.443129     3.730619  3.421424
CA11FD3CAC43     3.338148     3.654375     3.260865     3.638323  3.472928
0BB9FAE6E27B     3.338148     3.134979     3.706603     3.612432  3.448040
ED0A8E614649     3.338148     3.569192     3.705779     3.664019  3.569284
ACA1A45EE438     3.338148     3.269563     3.562554     3.560459  3.432681

[783 rows x 5 columns]

In [10]:
df5 = pd.DataFrame()
df5 = pd.concat([tfidf['grammar'],svr['grammar'],ngram['grammar'],roberta['grammar']],axis=1)
df5['average'] = df5.iloc[:, 0:4].mean(axis=1)
df5

               grammar   grammar   grammar   grammar   average
text_id
13C400DD9794  2.935918  3.005184  2.724683  1.800869  2.616663
D9BC7F4F22F0  2.412345  2.503007  2.657459  2.528817  2.525407
3E170458E9A1  2.412365  2.755787  2.576603  1.714191  2.364737
E0BFF1488787  2.590606  2.806187  2.729341  2.789020  2.728788
C50BE3C76571  2.412345  2.213038  2.485467  1.933587  2.261109
...                ...       ...       ...       ...       ...
A4A90A401002  3.265551  3.539506  3.380843  3.613037  3.449734
CA11FD3CAC43  3.265551  3.216852  3.183205  3.525637  3.297811
0BB9FAE6E27B  3.265551  3.391220  3.682332  3.485740  3.456211
ED0A8E614649  3.265551  3.271189  3.682336  3.454725  3.418451
ACA1A45EE438  3.265551  3.511854  3.530105  3.622044  3.482388

[783 rows x 5 columns]

In [11]:
df6 = pd.DataFrame()
df6 = pd.concat([tfidf['conventions'],svr['conventions'],ngram['conventions'],roberta['conventions']],axis=1)
df6['average'] = df6.iloc[:, 0:4].mean(axis=1)
df6

              conventions  conventions  conventions  conventions   average
text_id
13C400DD9794     2.991636     2.759427     2.828536     1.883982  2.615896
D9BC7F4F22F0     2.496050     2.221925     2.769140     2.422574  2.477422
3E170458E9A1     2.496070     2.731921     2.700672     2.035963  2.491156
E0BFF1488787     2.666865     3.038367     2.831291     2.794571  2.832774
C50BE3C76571     2.496050     2.485433     2.620819     2.087017  2.422330
...                   ...          ...          ...          ...       ...
A4A90A401002     3.297649     3.412993     3.420422     3.660695  3.447940
CA11FD3CAC43     3.297649     3.539730     3.237762     3.746667  3.455452
0BB9FAE6E27B     3.297649     3.483420     3.697439     3.649140  3.531912
ED0A8E614649     3.297649     3.454624     3.697980     3.546447  3.499175
ACA1A45EE438     3.297649     3.542166     3.549380     3.676185  3.516345

[783 rows x 5 columns]

In [12]:
df_total = pd.DataFrame()
df_total = pd.concat([df1['average'],df2['average'],df3['average'],df4['average'],df5['average'],df6['average']],axis=1)
col = ['cohesion','syntax','vocabulary','phraseology','grammar','conventions']
df_total.columns = col
#df_total = df_total[0:3]
df_total

,cohesion,syntax,vocabulary,phraseology,grammar,conventions
text_id,,,,,,
13C400DD9794,2.631748,2.587926,2.780281,2.647776,2.616663,2.615896
D9BC7F4F22F0,2.701183,2.550638,2.809391,2.637630,2.525407,2.477422
3E170458E9A1,2.482723,2.376924,2.663870,2.480340,2.364737,2.491156
E0BFF1488787,2.703242,2.697231,2.859953,2.764457,2.728788,2.832774
C50BE3C76571,2.542577,2.424569,2.644182,2.411962,2.261109,2.422330
...,...,...,...,...,...,...
A4A90A401002,3.450253,3.335819,3.582686,3.421424,3.449734,3.447940
CA11FD3CAC43,3.535838,3.364232,3.565949,3.472928,3.297811,3.455452
0BB9FAE6E27B,3.483230,3.405553,3.642544,3.448040,3.456211,3.531912
ED0A8E614649,3.554692,3.449948,3.645907,3.569284,3.418451,3.499175
ACA1A45EE438,3.483573,3.389944,3.468634,3.432681,3.482388,3.516345

In [14]:
y_real = pd.read_csv("data/validation.csv",index_col=0)
y_real = y_real[['cohesion','syntax','vocabulary','phraseology','grammar','conventions']]

In [15]:
import math
row = 758
#row = 3
col = 6
total = 0
sum_total = 0
for i in range(col):
    for j in range(row):
        total += (y_real.iloc[j][i] - df_total.iloc[j][i])**2
    total /= row
    sum_total += math.sqrt(total)
    total = 0
sum_total/= col
sum_total

0.4818336530775284